/*.container-fluid {
  position: relative;
  right: 4.65em;

}

span.ms-1.d-none.d-sm-inline {
  color: black;
  font-size: large;
}

.animals-icon,
.adoption-icon,
.shelters-icon,
.users-icon,
.contact-icon,
.community-icon {
  color: #ff782c;
  font-weight: bold;
  cursor: pointer;
}

.bi-box-arrow-right::before {
  content: "\f1c3";
  color: #ff782c;
  cursor:pointer;
}

::after {
  color: #ff782c;
  cursor: pointer;
}

.dropdown-item {
  color: black !important;
  cursor: pointer;

}

  .dropdown-item:hover {
    color: #333 !important;
    cursor: pointer;
  }
*/
.nav-link {
  transition: background-color 0.3s, color 0.3s;
}

  .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2); /* لون الخلفية عند المرور */
    color: #ffc107; /* لون النص عند المرور */
    cursor: pointer; /* مؤشر الفأرة عند الوقوف */
  }

  .nav-link span {
    font-weight: bold; /* لجعل النص أكثر وضوحًا */
  }

  .nav-link i {
    margin-right: 5px; /* مسافة بين الأيقونة والنص */
  }

.nav-item {
  margin-bottom: 10px; /* مسافة بين العناصر */
}

