<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <!--<a routerLink="/adminDashboard" class="header-logo-box d-flex flex-column align-items-center">-->
  <!--<img src="assets/media/logo.png" alt="logo" class="header-logo mb-3">-->
  <span>Tiler</span>
  <!--</a>-->
</h2>



<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tiler Id</th>
      <th scope="col">Tiler Name</th>
      <th scope="col">Tiler Image</th>
      <th scope="col">profession</th>
      <th scope="col">Phone Number</th>
      <!--<th scope="col">Add</th>-->
      <!--<th scope="col">Edit</th>-->
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Tiler of TilerArray">
      <td>{{ Tiler.tilerId }}</td>
      <td>{{ Tiler.tilerName }}</td>
      <td>{{ Tiler.tilerImg }}</td>
      <td>{{ Tiler.profession }}</td>
      <td>{{ Tiler.tilerPhoneNum }} </td>
      <!--<td>
    <button class="btn btn-primary" (click)="AddCategory(Category.categoryId)">Add</button>
  </td>
  <td>
    <button class="btn btn-success" (click)="EditCategory(Category.categoryId)">Edit</button>
  </td>-->
      <td>
        <button class="btn btn-danger" (click)="deleteTilerById(Tiler.tilerId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
