<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <!--<a routerLink="/adminDashboard" class="header-logo-box d-flex flex-column align-items-center">-->
  <!--<img src="assets/media/logo.png" alt="logo" class="header-logo mb-3">-->
  <span>Contact Us</span>
  <!--</a>-->
</h2>
<hr />
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: center;">User Name</th>
      <th scope="col" style="text-align: center;">User Email</th>
      <th scope="col" style="text-align: center;">The Message</th>
      <th scope="col" style="text-align: center;">Time Sent</th>
      <th scope="col" style="text-align: center;">Phone Number</th>
      <th scope="col" style="text-align: center;">Replay</th>
      <th scope="col" style="text-align: center;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of ConactArray">
      <td style="text-align: center;">{{ message.name }}</td>
      <td style="text-align: center;">{{ message.email }}</td>
      <td style="text-align: center;">{{ message.message }}</td>
      <td style="text-align: center;">{{ formatDate(message.createdAt) }}</td>
      <td style="text-align: center;">{{ message.phoneNumber }}</td>
      <td style="text-align: center;">
        <button class="btn btn-success" (click)="openMail(message.email, message.message)">Click To Reply</button>
      </td>
      <td style="text-align: center;">
        <button class="btn btn-danger" (click)="deleteContactById(message.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
