<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <span>Update Member</span>
</h2>
<hr />
<form #EditMember="ngForm" (ngSubmit)="UpdateMember()">
  <div class="mb-3">
    <label for="teamName" class="form-label">Member Name:</label>
    <input type="text"
           name="teamName"
           class="form-control"
           id="teamName"
           aria-describedby="nameHelp"
           required
           [(ngModel)]="memberData.teamName" />
  </div>
  <div class="mb-3">
    <label for="teamImg" class="form-label">Member Image:</label>
    <input type="file"
           name="teamImg"
           class="form-control"
           id="teamImg"
           aria-describedby="imgHelp"
           (change)="imageChange($event)" />
  </div>
  <div class="mb-3">
    <label for="profession" class="form-label">Profession:</label>
    <select name="profession"
            id="profession"
            class="form-control"
            required
            [(ngModel)]="memberData.profession">
      <option value="إدارة">إدارة</option>
      <option value="رجل مبيعات">رجل مبيعات</option>
      <option value="ساحات">ساحات</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="teamPhoneNum" class="form-label">Phone Number:</label>
    <input type="text"
           name="teamPhoneNum"
           class="form-control"
           id="teamPhoneNum"
           aria-describedby="phoneHelp"
           required
           [(ngModel)]="memberData.teamPhoneNum" />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
