<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <!--<a routerLink="/adminDashboard" class="header-logo-box d-flex flex-column align-items-center">-->
  <!--<img src="assets/media/logo.png" alt="logo" class="header-logo mb-3">-->
  <span>Our Team</span>
  <!--</a>-->
</h2>
<hr />

<div style="display: flex; justify-content: center; align-items: center;">
  <button class="btn btn-primary" (click)="navigateToAddMember()">Add New Member</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <!--<th scope="col">Team Id</th>-->
      <th scope="col" style="text-align: center;">Team Name</th>
      <th scope="col" style="text-align: center;">Team Image</th>
      <th scope="col" style="text-align: center;">profession</th>
      <th scope="col" style="text-align: center;">Phone Number</th>
      <!--<th scope="col">Add</th>-->
      <th scope="col" style="text-align: center;">Edit</th>
      <th scope="col" style="text-align: center;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Team of TeamArray">
      <!--<td>{{ Team.teamId }}</td>-->
      <td style="text-align: center;">{{ Team.teamName }}</td>
      <td style="text-align: center;"> <img src="https://localhost:7118/api/Product/images/{{ Team.teamImg }}" width="50" height="50" /> </td>
      <td style="text-align: center;">{{ Team.profession }}</td>
      <td style="text-align: center;">{{ Team.teamPhoneNum }} </td>
      <!--<td>
    <button class="btn btn-primary" (click)="AddCategory(Category.categoryId)">Add</button>
  </td>-->
      <td style="text-align: center;">
        <button class="btn btn-success" [routerLink]="['/dashboard/UpdateMember', Team.teamId]">Edit</button>
      </td>
      <td style="text-align: center;">
        <button class="btn btn-danger" (click)="deleteTeamById(Team.teamId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
