<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <span>Update the Project</span>
</h2>

<hr />

<form #EditTheProject="ngForm" (ngSubmit)="UpdateProject(EditTheProject.value)">
  <div class="mb-3">
    <label for="projectName" class="form-label">Project Name:</label>
    <input type="text" name="projectName" class="form-control" id="projectName" required [(ngModel)]="ProjectData.projectName">
  </div>

  <div class="mb-3">
    <label for="projectImage" class="form-label">Project Image:</label>
    <input type="file" name="projectImage" class="form-control" id="projectImage" (change)="imageChange($event)">
  </div>

  <div class="mb-3">
    <label for="projectType" class="form-label">Project Type:</label>
    <input type="text" name="projectType" class="form-control" id="projectType" required [(ngModel)]="ProjectData.projectType">
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Project Location:</label>
    <select name="location" class="form-control" id="location" required [(ngModel)]="ProjectData.location">
      <option value="" disabled>Select a Location</option>
      <option *ngFor="let governorate of governorates" [value]="governorate">{{governorate}}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Project Description:</label>
    <textarea name="description" class="form-control" id="description" rows="5" required [(ngModel)]="ProjectData.description"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
