<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <!--<a routerLink="/adminDashboard" class="header-logo-box d-flex flex-column align-items-center">-->
  <!--<img src="assets/media/logo.png" alt="logo" class="header-logo mb-3">-->
  <span>Product</span>
  <!--</a>-->
</h2>
<hr />

<div style="display: flex; justify-content: center; align-items: center;">
  <button class="btn btn-primary" (click)="navigateToAddProduct()">Add New Product</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <!--<th scope="col">Product Id</th>-->
      <th scope="col">Product Name</th>
      <th scope="col">Product Image</th>
      <th scope="col">Product Description</th>
      <th scope="col">Product feature1</th>
      <th scope="col">Product feature2</th>
      <th scope="col">Product feature3</th>
      <th scope="col">Product Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Product Rate</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Products of ProductArray">
      <!--<td>{{ Products.productId }}</td>-->
      <td>{{ Products.productName }}</td>
      <td>{{ Products.productImage }}</td>
      <td>{{ Products.productDescription }}</td>
      <td>{{ Products.productDescriptionList1 }} </td>
      <td>{{ Products.productDescriptionList2 }} </td>
      <td>{{ Products.productDescriptionList3 }} </td>
      <td>{{ Products.price }} JOD</td>
      <td>{{ Products.stock }} Meters</td>
      <td>{{ Products.productRate }} Stars</td>
      <td>
        <button class="btn btn-success" [routerLink]="['/dashboard/UpdateProduct', Products.productId]">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteProductById(Products.productId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
