<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <span>Update the Tiler</span>
</h2>

<hr />

<form #EditTheTiler="ngForm" (ngSubmit)="UpdateTiler()">
  <div class="mb-3">
    <label for="memberName" class="form-label">Tiler Name:</label>
    <input type="text"
           name="tilerName"
           class="form-control"
           id="memberName"
           required
           [(ngModel)]="tilerData.tilerName" />
  </div>

  <div class="mb-3">
    <label for="memberImage" class="form-label">Tiler Image:</label>
    <input type="file"
           name="tilerImg"
           class="form-control"
           id="memberImage"
           (change)="onFileSelected($event)" />
  </div>

  <div class="mb-3">
    <label for="profession" class="form-label">Profession:</label>
    <input type="text"
           name="profession"
           class="form-control"
           id="profession"
           required
           [(ngModel)]="tilerData.profession" />
  </div>

  <div class="mb-3">
    <label for="PhoneNumber" class="form-label">Phone Number:</label>
    <input type="text"
           name="tilerPhoneNum"
           class="form-control"
           id="PhoneNumber"
           required
           [(ngModel)]="tilerData.tilerPhoneNum" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
