<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <span>Project</span>
</h2>

<hr />

<div style="display: flex; justify-content: center; align-items: center;">
  <button class="btn btn-primary" (click)="navigateToAddProject()">Add New Project</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <!--<th scope="col">Project Id</th>-->
      <th scope="col" style="text-align: center;">Project Name</th>
      <th scope="col" style="text-align: center;">Project Type</th>
      <th scope="col" style="text-align: center;">Project Image</th>
      <th scope="col" style="text-align: center;" style="width: 3em;">Creation Date</th>
      <th scope="col" style="text-align: center;">Project Location</th>
      <th scope="col" style="text-align: center;">Project Description</th>
      <th scope="col" style="text-align: center;">Edit</th>
      <th scope="col" style="text-align: center;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Project of ProjectArray">
      <!--<td>{{ Project.projectId }}</td>-->
      <td style="text-align: center;">{{ Project.projectName }}</td>
      <td style="text-align: center;">{{ Project.projectType }}</td>
      <td style="text-align: center;"> <img src="https://localhost:7118/api/Product/images/{{ Project.projectImage  }}" width="50" height="50" /> </td>
      <td style="text-align: center;">{{ Project.projectDate | date: 'MM/dd/yyyy, HH:mm' }}</td>
      <td style="text-align: center;">{{ Project.location }}</td>
      <td style="text-align: center;">{{ Project.description }}</td>
      <td style="text-align: center;">
        <button class="btn btn-success" [routerLink]="['/dashboard/UpdateProject', Project.projectId]">Edit</button>
      </td>
      <td style="text-align: center;">
        <button class="btn btn-danger" (click)="deleteProjectById(Project.projectId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
