<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <!--<a routerLink="/adminDashboard" class="header-logo-box d-flex flex-column align-items-center">-->
  <!--<img src="assets/media/logo.png" alt="logo" class="header-logo mb-3">-->
  <span>Project</span>
  <!--</a>-->
</h2>



<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Project Id</th>
      <th scope="col">Project Name</th>
      <th scope="col">Project Type</th>
      <th scope="col">Project Image</th>
      <th scope="col">Creation Time</th>
      <th scope="col">Project Location</th>
      <th scope="col">Project Description</th>
      <!--<th scope="col">Add</th>-->
      <!--<th scope="col">Edit</th>-->
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Project of ProjectArray">
      <td>{{ Project.projectId }}</td>
      <td>{{ Project.projectName }}</td>
      <td>{{ Project.projectType }}</td>
      <td>{{ Project.projectImage }}</td>
      <td>{{ Project.projectDate }} </td>
      <td>{{ Project.location }}</td>
      <td>{{ Project.description }}</td>
      <!--<td>
    <button class="btn btn-primary" (click)="AddCategory(Category.categoryId)">Add</button>
  </td>
  <td>
    <button class="btn btn-success" (click)="EditCategory(Category.categoryId)">Edit</button>
  </td>-->
      <td>
        <button class="btn btn-danger" (click)="deleteProjectById(Project.projectId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
