<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <span>Category</span>
</h2>

<hr />

<div class="d-flex justify-content-center align-items-center mb-4">
  <button class="btn btn-primary" (click)="navigateToAddCategory()">Add New Category</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" style="text-align: center;">Category Name</th>
      <th scope="col" style="text-align: center;">Category Image</th>
      <th scope="col" style="text-align: center;">Products</th>
      <th scope="col" style="text-align: center;">Edit</th>
      <th scope="col" style="text-align: center;">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Category of CategoryArray">
      <td style="text-align: center;">{{ Category.categoryName }}</td>
      <td style="text-align: center;"> <img src="https://localhost:7118/api/Product/images/{{ Category.categoryImage }}" width="50" height="50" /> </td>
      <td style="text-align: center;">
        <button class="btn btn-success" [routerLink]="['/dashboard/ProductToOneCategory', Category.categoryId]">Show All</button>
      </td>
      <td style="text-align: center;">
        <button class="btn btn-success" [routerLink]="['/dashboard/UpdateCategory', Category.categoryId]">Edit</button>
      </td>
      <td style="text-align: center;">
        <button class="btn btn-danger" (click)="deleteCategoryById(Category.categoryId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
